@import '../../../../../src/styles/main';


.expert-resume-services {
    &__content {
        padding-top: 1.5rem;
        
        p {
            color: $gray-300;
            font-size: 1.3rem;
            line-height: 2.2rem;
            margin: 1rem 0 2rem 0;
        }
    }

    &__stats {
        ul {
            list-style-type: none;
            margin: 1rem 0 0 0;
            padding: 0;
            display: flex;

            li {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                margin: 0;
                justify-content: center;
                align-items: center;
                padding: 1.1rem;
                @include border-radius(5px);
                font-size: 1.4rem;
                color: $gray-300;
                line-height: 1.7rem;
                border: $border;

                &:not(:first-of-type) {
                    margin-left: 1rem;
                }
                    
                strong {
                    font-size: 1.6rem;
                    font-weight: 700;
                    display: block;
                    color: $gray-100;
                    margin-bottom: 1rem;

                    &.color1 {
                        color: #8AC5F5;
                    }

                    &.color2 {
                        color: #CC90E6;
                    }

                    &.color3 {
                        color: #F4D781;
                    }

                    &.color4 {
                        color: #A9F2AE;
                    }

                    &.color5 {
                        color: #F58A9F;
                    }

                    &.color6 {
                        color: #9CECE0;
                    }
                }

                p {
                    margin-bottom: 0;
                    font-size: 1.2rem;
                }
            }
        }
    }
}