$white:    #ffffff !default;
$gray-100: #28303F !default;
$gray-200: #38404C !default;
$gray-300: #6D7A8C !default;
$gray-400: #333333 !default;
$gray-500: #F5F5F5 !default;
$black:    #000000 !default;