@import '../../../../../src/styles/main';

.professional-slider {
    position: relative;

    &__slides {
        display: flex;
        align-items: center;
        flex-direction: column;

        figure {
            img {
                width: 100%;
            }
        }
    }
}