@import '../../../../../src/styles/main';

.faq {
  padding-top: 3rem !important;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  /* Accordion styles */
  .tabs {
    overflow: hidden;
    margin-top: 2rem;
  }
  .tab {
    width: 100%;
    color: $gray-200;
    overflow: hidden;
    @include border-radius(8px);
    background: $bg;
    counter-increment: section;

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }

    &-label {
      display: flex;
      padding: 2rem 1rem;
      background: $bg;
      font-weight: 600;
      font-size: 1.4rem;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: $bg;
      }
      &::after {
        content: '';
        width: 1.9rem;
        height: .8rem;
        background: $sprite  -664px -33px;
        text-align: center;
        transition: all .35s;
        color: $blue;
        margin-left: auto;
        display: flex;
        margin-top: .3rem;
      }
      &::before {
        content: counter(section) '. ';
        padding-right: .5rem;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: $gray-300;
      background: white;
      transition: all .35s;
      font-size: 1.3rem;
    }
  }
  
  // :checked
  input:checked {
    + .tab-label {
      background: $bg;
      &::after {
        transform: rotate(180deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 0 1rem 1rem 1rem;
      background: $bg;
    }
  }
}
  