[class^="icon-"] {
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .icon-call {
    background: $sprite;
    @include icon-inblock (21px, 22px, -324px 0);
  }
  
  .icon-stats1 {
    background: $sprite;
    @include icon-inblock (20px, 24px, -180px 0);
  }
  
  .icon-stats2 {
    background: $sprite;
    @include icon-inblock (18px, 23px, -207px 0);
  }
  
  .icon-stats3 {
    background: $sprite;
    @include icon-inblock (23px, 26px, -235px 0);
  }
  
  .icon-stats4 {
    background: $sprite;
    @include icon-inblock (22px, 28px, -266px 0);
  }
  
  .icon-stats5 {
    background: $sprite;
    @include icon-inblock (22px, 22px, -296px 0);
  }
  
  .icon-stats6 {
    background: $sprite;
    @include icon-inblock (27px, 28px, -327px 0);
  }
  
  .icon-service-bg {
    background: $sprite;
    @include icon-inblock (100px, 91px, -668px 0);
  }
  
  .icon-service1 {
    background: $sprite;
    @include icon-inblock (39px, 48px, -369px 0);
  }
  
  .icon-service2 {
    background: $sprite;
    @include icon-inblock (40px, 48px, -418px 0);
  }
  
  .icon-service3 {
    background: $sprite;
    @include icon-inblock (47px, 57px, -469px 0);
  }
  
  .icon-facebook {
    background: $sprite;
    @include icon-inblock (9px, 17px, -95px -26px);
  }
  
  .icon-twitter {
    background: $sprite;
    @include icon-inblock (18px, 15px, -110px -27px);
  }
  
  .icon-linkedin {
    background: $sprite;
    @include icon-inblock (17px, 17px, -133px -26px);
  }
  
  .icon-addon1 {
    background: $sprite;
    @include icon-inblock (52px, 40px, -157px -29px);
  }
  
  .icon-addon2 {
    background: $sprite;
    @include icon-inblock (52px, 44px, -219px -29px);
  }
  
  .icon-addon3 {
    background: $sprite;
    @include icon-inblock (37px, 46px, -277px -29px);
  }
  
  .icon-quotes {
    background: $sprite;
    @include icon-inblock (80px, 86px, 0 -66px);
  }
  
  .icon-forward {
    background: $sprite;
    @include icon-inblock (15px, 12px, -322px -32px);
  }
  
  .icon-watch {
    background: $sprite;
    @include icon-inblock (19px, 11px, -343px -33px);
  }
  
  .icon-facebook-footer {
    background: $sprite;
    @include icon-inblock (13px, 24px, -368px -52px);
  }
  
  .icon-linkedin-footer {
    background: $sprite;
    @include icon-inblock (25px, 23px, -392px -52px);
  }
  
  .icon-twitter-footer {
    background: $sprite;
    @include icon-inblock (24px, 20px, -428px -56px);
  }
  
  .icon-secure {
    background: $sprite;
    @include icon-inblock (29px, 40px, -626px 0);
  }
  
  .icon-payment-options {
    background: $sprite;
    @include icon-inblock (252px, 29px, -87px -80px);
  }
  
  .icon-star {
    background: $sprite;
    @include icon-inblock (13px, 12px, -345px -80px);
  }
  
  .icon-star-blank {
    background: $sprite;
    @include icon-inblock (13px, 12px, -364px -80px);
  }
  
  .icon-call {
    background: $sprite;
    @include icon-inblock (16px, 20px, -91px 0);
  }
  
  .icon-user {
    background: $sprite;
    @include icon-inblock (21px, 21px, -111px 0);
  }
  
  .icon-cart {
    background: $sprite;
    @include icon-inblock (20px, 20px, -136px 0);
  }