[class^="icon-"] {
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .icon-shine {
    background: $sprite;
    @include icon-inblock (79px, 51px, 0 0);
  }

  .icon-hamburger {
    background: $sprite;
    @include icon-inblock (26px, 17px, -89px -1px);
  }

  .icon-cart {
    background: $sprite;
    @include icon-inblock (22px, 22px, -129px -1px);
  }

  .icon-user-pic {
    background: $sprite;
    @include icon-inblock (43px, 43px, -170px -1px);
  }

  .icon-home {
    background: $sprite;
    @include icon-inblock (21px, 19px, -229px 0);
  }

  .icon-resume-service {
    background: $sprite;
    @include icon-inblock (21px, 17px, -271px 0);
  }

  .icon-linkedin-service {
    background: $sprite;
    @include icon-inblock (21px, 19px, -310px 0);
  }

  .icon-recruiter-service {
    background: $sprite;
    @include icon-inblock (21px, 22px, -347px 0);
  }

  .icon-free-resources {
    background: $sprite;
    @include icon-inblock (21px, 21px, -389px 0);
  }

  .icon-other-services {
    background: $sprite;
    @include icon-inblock (21px, 18px, -430px 0);
  }

  .icon-courses-services {
    background: $sprite;
    @include icon-inblock (21px, 18px, -468px 0);
  }

  .icon-blog-services {
    background: $sprite;
    @include icon-inblock (21px, 22px, -509px 0);
  }

  .icon-arrow-menusm {
    background: $sprite;
    @include icon-inblock (7px, 13px, -584px -1px);
  }

  .icon-arrow-menulg {
    background: $sprite;
    @include icon-inblock (18px, 19px, -556px -1px);
  }

  .icon-tick {
    background: $sprite;
    @include icon-inblock (10px, 8px, -571px -33px);
  }
  
  .icon-facebook {
    background: $sprite;
    @include icon-inblock (6px, 11px, -599px 0);
  }
  
  .icon-twitter {
    background: $sprite;
    @include icon-inblock (11px, 10px, -613px 0);
  }
  
  .icon-linkedin {
    background: $sprite;
    @include icon-inblock (11px, 11px, -633px 0);
  }

  .icon-forward {
    background: $sprite;
    @include icon-inblock (15px, 12px, -592px -30px);
  }
  
  .icon-watch {
    background: $sprite;
    @include icon-inblock (17px, 11px, -616px -30px);
  }

  .icon-star {
    background: $sprite;
    @include icon-inblock (13px, 12px, -125px -33px);
  }
  
  .icon-star-blank {
    background: $sprite;
    @include icon-inblock (13px, 12px, -144px -33px);
  }

  .icon-arrow-addon {
    background: $sprite;
    @include icon-inblock (20px, 20px, -93px -32px);
  }