@import '../../../../styles/functions';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.enquire-now {
    width: 80%;

    .form-control {
        border-color: $border;
        @include border-radius(4px);
        height: 4.6rem;
        padding-left: 1.5rem;
    }

    textarea {
        height: 8.3rem !important;
    }

    .btn {
        padding: 1rem 4rem;
    }
}