@import '../../../../../src/styles/main';

.courses-like {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0 0 0;
}

.courses-slider {
    .list-unstyled {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .listing {

        &__list {
            @extend %box-shadow1;
            padding: 1.5rem 1rem 1.5rem 0;
            margin: 0 0 1rem 0;
            position: relative;
            @include border-radius(5px);
            display: flex;

            h3 {
                line-height: 1.8rem;
                height: 4rem;
                overflow: hidden;
                margin: 0;
                a {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    font-weight: 600;
                    color: $anchor-color;
                }
            }
        }
    
        &__image {
            width: 7rem;
        }
    
        .rating {
            margin: 1rem 0;
            i {
                margin-right: .2rem;
            }
            &__output {
                font-weight: 600;
                font-size: 1.2rem;
            }

            &__mode {
                display: inline-block;
                font-size: 1.1rem;
                color: $gray-300;
                border: $border;
                @include border-radius(20px);
                padding: .3rem 1rem;
                margin-right: 1rem;
            }
        }
    
        .courses {
            align-self: center;
            color: $gray-200;
    
            &__price {
                font-size: 1.3rem;
                font-weight: 600;
                margin-right: 2.5rem;
            }
        }
    }
    >.slick-slider {
        .slick-list {
            .slick-slide {
                width: 29rem !important;
                padding: 2rem 1.2rem !important;
            }
        }
    }
}