@import '../../../../../src/styles/main';

.our-customers {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;

    .col {
        margin-right: 1rem;
        img {
            
        }
    }
}